@charset "utf-8";
.c-title {
	display: flex;
	h3{
		font-weight: 700;
		font-size: 40px;
		line-height: 56px;
		color: $cBase;
		position: relative;
		padding-bottom: 22px;
		@include brTablet{
			font-size: 20px;
			line-height: 16px;
			padding-bottom: 11px;
		}
		&::after{
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 119px;
			height: 5px;
			border-radius: 5px;
			background-color: #00C1FF;
			@include brTablet{
				width: 60px;
				height: 4px;
			}
		}
	}
	&--center{
		justify-content: center;
		h3{
			&::after{
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}